@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');
body {
    font-family: 'Raleway';
    color:rgb(0, 139, 104);
    background-color: rgb(55, 55, 55);
    padding: 30px;
}

h1 {
    font-family: "El Messiri";
    color:rgb(0, 139, 104);
}

header {
    font-family: "Julius Sans One";
    color: rgb(0, 139, 104);
    font-size: 300%;
}
 